# Dependencies
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
local_files/

# Environment keys
.env
.env.local
.env.prod

# Operating System Files
.DS_Store
Thumbs.db
ehthumbs.db
[Dd]esktop.ini

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Docker
docker-compose.override.yml
